# Python cache
__pycache__/
*.py[cod]
*$py.class

# Virtual environments
venv/
.env/
env/

# Environment variables
.env
*.env

# Jupyter Notebook checkpoints
.ipynb_checkpoints/

# Artifacts / models
artifacts/
models/

# Logs
logs/
*.log

# Data files (large datasets)
data/raw/
data/processed/
!data/interim/
!data/interim/fraud_data/
!data/interim/fraud_data/feature_metadata.json
!data/interim/fraud_data/scaler.pkl
!data/interim/fraud_data/imputer.pkl
data/interim/fraud_data/X_test.csv
data/interim/fraud_data/X_train.csv
data/interim/fraud_data/y_test.csv
data/interim/fraud_data/y_train.csv
# OS files
.DS_Store
Thumbs.db

# IDE settings
.vscode/
.idea/

# Others
others/